## Séparer notre ensemble de Question-Réponses
Dans le but d'entrainer plusieurs fois notre modèle sur plusieurs ensemble d'entrainement possible, nous avons créé ce notebook (section) qui explique nos motivations et la façon dont nous avons obtenu tous nos ensembles d'entrainement et de tests. 

Les résultats de chaque expérience/extraction de sets seront sauvegardés dans le fichier ```../datasets/ready-to-train```

In [8]:
# imports
import numpy as np
import pandas as pd

# Constantes
# PATH = "../datasets/Nos datasets"
PATH = "./"
FILE_NAME = "/Dataset_prefinal.tsv"
SEP = "\t"

# lecture et affichage
df_to_split = pd.read_csv(PATH+FILE_NAME, sep=SEP)
df_to_split.drop(labels=0, axis=0, inplace=True)
print("Nous avons :", len(df_to_split), "couples Q&A.")
df_to_split.head(5)

Nous avons : 50668 couples Q&A.

,Question,Reponse
1,Quels sont tes centres d'interets,Je suis interessé par beaucoup de choses. Nous...
2,Quels sont tes centres d'interets,Je suis interessé par une grande variete de su...
3,Quels sont tes sujets preferes,"Mes sujets preferes incluent la robotique, l'i..."
4,Quel est ton numero,Je n'ai pas de numero.
5,Quel est ton numero,"5446, c'est mon numero maintenant."

### Sans conditions sur les sous-ensembles dont se compose le dataset
Notre ensemble étant conçus de plusieurs dialogues, Q&A... d'autres dataset (traduit ou non ; détails dans le fichier ```TODO: À METTRE PLUS TARD```), le but ici est de créer un test set avec K couples de Q&A tirés de façon totalement aléatoire. 

Le test set sera unique quand aux questions, aucune vérifications sur les réponses. Autrement dit, *nous n'auraons pas des questions identiques mais un doublon de réponse pourrait apparaître.*

In [12]:
from sklearn.model_selection import train_test_split

# Avoir 1000 données pour l'ensemble de test
train_df, test_df = train_test_split(df_to_split, shuffle=True, test_size=1000*1.0/len(df_to_split), random_state=21)
train_df.shape, test_df.shape

((49668, 2), (1000, 2))

In [18]:
# Get names of indexes for which the question is the same in the training set as in the test set
indexNames = train_df[ train_df['Question'].isin(list(test_df['Question']) )].index

# mask sur les questions existantes sur le test
rows_to_remove = train_df.loc[indexNames]
print("Nous allons devoir supprimer ", len(rows_to_remove), "questions du train_set car ces dernières apparaîssent dans le test_set.\n")

# Delete these row indexes from dataFrame
train_df.drop(indexNames , inplace=True)
# The size of the training set goes down a bit
print("Respectivement, la taille du train et test set:")
train_df.shape, test_df.shape

Nous allons devoir supprimer  0 questions du train_set car ces dernières apparaîssent dans le test_set.

Respectivement, la taille du train et test set:

((48718, 2), (1000, 2))

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=e5c503ea-724e-4975-85d2-1122520b6aaa' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>